body {
  &.parra {
    background: linear-gradient(to bottom, #00888A 0%,#008689 100%);
    .social a:hover svg path { fill: $parra_accent; }
    .typed-cursor { color: $parra_accent; }
    .ripple { background-color: $adapt_accent; }
  }
  &.adapt {
    background: linear-gradient(to bottom, #4E47EA 0%,#4D45E7 100%);
    .social a:hover svg path { fill: $adapt_accent; }
    .typed-cursor { color: $adapt_accent; }
    .ripple { background-color: $parra_accent; }
  }
  &.spotify {
    background: linear-gradient(to bottom, #F26892 0%,#F3768C 100%);
    background: $spotify_accent;
    .social a:hover svg path { fill: $spotify_main; }
    .typed-cursor { color: $spotify_main; }
    .ripple { background-color: $spotify_main; }
  }
}
