@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0,0);
  }
  83% {
    opacity: 1;
    transform: scale(1.14,1.14);
  }
  100% {
    opacity: 1;
    transform: scale(1,1);
  }
}

.header {
  position: absolute;
  overflow: hidden;
  z-index: 200;
  top: 10px;
  right: 10px;
}

.social {
  &__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    li a svg {
      height: 32px;
      width: 32px;
      max-height: 32px;
      max-width: 32px;
      transform: scale(0,0);
      &:hover {
        path { fill: #FFF2AB; }
      }
      &:active {
        path { fill: yellow; }
      }
    }
    &.hidden {
      li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5), li:nth-child(6) {
        svg {
          animation: none;
        }
      }
    }
    li:nth-child(1) svg { animation: grow 300ms 3.95s forwards; }
    li:nth-child(2) svg { animation: grow 300ms 4.05s forwards; }
    li:nth-child(3) svg { animation: grow 300ms 4.15s forwards; }
    li:nth-child(4) svg { animation: grow 300ms 4.25s forwards; }
    li:nth-child(5) svg { animation: grow 300ms 4.35s forwards; }
    li:nth-child(6) svg { animation: grow 300ms 4.45s forwards; }
  }
}

@media screen and (min-width: 375px) {
  .social__main {
    li a svg {
      height: 38px;
      width: 38px;
      max-height: 38px;
      max-width: 38px;
    }
  }
}
@media screen and (min-width: 425px) {
  .social__main {
    li a svg {
      height: 42px;
      width: 42px;
      max-height: 42px;
      max-width: 42px;
    }
  }
}
@media screen and (min-width: 768px) {
  .social__main {
    li a svg {
      height: 48px;
      width: 48px;
      max-height: 48px;
      max-width: 48px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .social__main {
    li a svg {
      height: 56px;
      width: 56px;
      max-height: 56px;
      max-width: 56px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .social__main {
    li a svg {
      height: 58px;
      width: 58px;
      max-height: 58px;
      max-width: 58px;
    }
  }
}
