.header {
  height: rem(80px);
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;

  .logged-in & { top: rem(32px); }

  .social {
    opacity: 0;
    animation: fade-in 1s 3.5s forwards ease-out;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    a { display: block; }
    li:not(:last-of-type) {
      a { padding-right: rem(16px); }
      &.behance a { padding-top: rem(3px); }
      &.instagram a { padding-top: rem(2px); }
      a svg path { fill: rgba(255,255,255,1); }
    }
  }
}


@media screen and (max-width: rem(784px)) {
  .header {
    position: fixed;
    display: block;
    width: 80%;
    opacity: .75;
    .logged-in & { top: rem(48px); }
    .social {
      li {
        flex-grow: 1 !important;
      }
    }
  }
}

@media screen and (max-width: rem(400px)) {
  .header {
    display: block;
    width: 1px;
    width: 1px;
    padding: 0;
    top: 0;
    right: 0;

    &.active {
      display: none;
      opacity: 1;
      height: 100vh;
      width: 100vw;
      padding: 2rem;
      display: flex;
      background: black;
      align-items: center;
      justify-content: center;
    }
    li {
      text-align: center;
    }
  }
}
