@keyframes fadeIn{
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes partialFade{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    top: 1rem;
  }
  100% {
    top: 0;
  }
}

@keyframes rotational {
    from {
      transform: rotate(-150deg);
    }
    to   {
      transform: rotate(5000deg);
    }
}

@keyframes crossing {
    from {
      top: -100vw;
    }
    to   {
      top: 0vw;
    }
}

.main {
  z-index: 90;
  height: 100vh;
  width: 100vw;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: opacity 200ms ease;
  cursor: pointer;
  overflow: hidden;

  .orbit {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    svg {
      top: -100vw;
      left: -110vw;
      max-height: 200vw;
      max-width: 200vw;
      height: 200vw;
      width: 200vw;
      opacity: 1;
      position: absolute;
      animation: rotational 5000s forwards linear;
    }

  }


  .container {
    width: 100%;
    max-width: rem(1135px);
    margin: 0 auto;
    #typed-strings {
      display: none;
    }
    h1 {
      user-select: none;
      padding: 0 1rem;
      position: relative;
      top: 1rem;
      opacity: 0;
      top: 1rem;
      font-family: "medium", graphik, sans-serif;
      color: rgba(255,255,255,1);
      font-size: rem(20px);
      font-weight: 400;
      line-height: 1.3;
      z-index: 100;
      span.element, span.typed-cursor {
        font-weight: 400;
      }
    }
    .resume {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 300;
      height: 200px;
      width: 200px;
    }
  }
}

@keyframes blink{
  0% { opacity:1; }
  20% { opacity:1; }
  50% { opacity:0; }
  80% { opacity:1; }
  100% { opacity:1; }
}

.typed-cursor{
  opacity: 1;
  animation: blink 1s infinite;
}

.ripple {
    border-radius: 100%;
    height: 100px;
    position: absolute;
    -webkit-transform: scale(0);
    transform: scale(0);
    width: 100px;
    z-index: 1;
}

.animate {
    -webkit-animation: ripple .25s linear;
            animation: ripple .25s linear;
}
@keyframes ripple {
    100% {
        -webkit-transform: scale(10);
        transform: scale(10);
        background-color: transparent;
    }
}
@media screen and (min-width: rem(340px)) {
  .main .container h1 { font-size: rem(21px); }
}
@media screen and (min-width: rem(370px)) {
  .main .container h1 { font-size: rem(23px); }
}
@media screen and (min-width: rem(390px)) {
  .main .container h1 { font-size: rem(25px); }
}
@media screen and (min-width: rem(420px)) {
  .main .container h1 { font-size: rem(27px); }
}
@media screen and (min-width: rem(460px)) {
  .main .container h1 { font-size: rem(29px); }
}
@media screen and (min-width: rem(500px)) {
  .main .container h1 { font-size: rem(31px); }
}
@media screen and (min-width: rem(540px)) {
  .main .container h1 { font-size: rem(35px); }
}
@media screen and (min-width: rem(580px)) {
  .main .orbit svg {
    top: -100vw;
    left: -110vw;
    max-height: 200vw;
    max-width: 200vw;
    height: 200vw;
    width: 200vw;
  }
  .main .container h1 { font-size: rem(37px); }
}
@media screen and (min-width: rem(620px)) {
  .main .container h1 { font-size: rem(39px); }
}
@media screen and (min-width: rem(660px)) {
  .main .container h1 { font-size: rem(41px); }
}
@media screen and (min-width: rem(720px)) {
  .main .container h1 { font-size: rem(43px); }
}
@media screen and (min-width: rem(800px)) {
  .main .container h1 { font-size: rem(48px); }
}

@media screen and (max-width: 425px) {
  .main {
    // height: 80vh;
  }
}
